/* 사이드바 기본 스타일 */
.sidebar {
  transition: transform 0.3s ease-in-out; /* 애니메이션 효과 */
  transform: translateX(-100%); /* 기본 위치를 왼쪽으로 숨김 */
}

/* 사이드바가 표시되는 상태 */
.sidebar-open {
  transform: translateX(0); /* 화면 안으로 이동 */
}